# Data Structures and Types

### 1. **What are data structures, and why are they important?**
- Data Structure is a way to organize and store data in a computer, enabling efficient access, retrieval, and processing.
- They are important because they provide a systematic approach to managing data, crucial for building efficient and scalable software systems.


###2.  **Explain the difference between mutable and immutable data types with examples.**
- **Mutable Data Types :** Those DataTypes whose values can be changed or modified in place.
Example: Lists, Dictionaries.
- **Immutable Data Types :** Those DataTypes whose values cannot be changed or modified in place. Example: Strings, Tuples.

###3. What are the main differences between lists and tuples in Python?
- The main differences between Lists and Tuples are :
  - **Mutability :** Lists are Mutable whereas Tuples are Immutable.
  - Lists are enclosed withn square brackets [ ]. Example: NamesL = [Nithin, Vihaan]
  - Tuples are enclosed within Parenthesis ( ). Example: NamesT = (Nithin, Vihaan)
- **Use Cases :**
  - Lists: Use lists when you need a dynamic, modifiable collection of items.
  - Tuples: Use tuples when you need a collection of items that should remain constant.

###4.  Describe how dictionaries store data.
- Dictionaries store data in Unordered Key-Value pairs where each Key is Unique and Immutable, and Values can be of any Datatype and can be repeated, enclosed within Curly Brackets {}.

- Example: Student =  {Name: Nithin, Course: BCA, Semester: 2}


###5.  Why might you use a set instead of a list in Python?
- Sets cannot contain Duplicate values
- Supports a variety of Mathematical Operations such as Union, Intersection, and Difference.
- Sets do not maintain any specific Order of Elements.
- Simplified Syntax for Common Tasks

###6. What is a string in Python, and how is it different from a list?
- A String in Python is a Sequence of Characters used to represent Textual Data.
- Strings can be enclosed within single quotes(' '), double quotes(" "), and triple quotes(''' ''').
- Strings are Immutable (Once created, then cannot be changed in place).
* Key Diffences between Strings and Lists are
  - Mutability: Strings are Immutable, Lists are Mutable.
  - Data Types: Strings can contain only Characters, Lists can contain elements of multiple DataTypes.

###7. How do tuples ensure data integrity in Python?
- Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its contents cannot be altered, added to, or removed.

###8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure which stores data in key-value pairs.
- When a key is provided, the hash function generates a unique index that indicates where the corresponding value is stored, enabling fast access to the data.
- Key Relationships Between Hash Tables and Python Dictionaries:
  - Data Structure: Both hash tables and dictionaries store data in key-value pairs.
  - Hashing: Dictionaries use hashing to compute indices for keys, similar to how traditional hash tables operate.
  - Mutability: While hash tables are generally mutable (allowing changes), Python dictionaries also allow dynamic resizing and modification of key-value pairs.

###9. Can lists contain different data types in Python?
- Yes, Lists can contain different data types in Python such as Strings, Characters, Lists, Tuples, Integers etc.

###10. Explain why strings are immutable in Python?
- Strings in Python are immutable, This design choice has several important implications:
  - Memory Efficiency: Immutability allows Python to optimize memory usage by reusing existing string objects instead of creating new ones for every modification.
  - Consistency and Reliability: Since strings cannot be altered, their value remains constant throughout their lifetime, ensuring functions and methods that receive strings as arguments can rely on them not changing unexpectedly, preventing potential bugs.

###11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer several advantages over lists for specific tasks in Python:
  - Fast Data Retrieval.
  - Key-Value Pair Structure.
  - Dynamic & Flexible.
  - No Duplicate Keys.
  - Built-In Methods.

###12. Describe a Scenario where using a Tuple would be preferable over a List.
- Example of using a tuple over a list is storing the geographical coordinates of a location, such as the latitude and longitude of a city. For instance:

In [ ]:
coordinates = ( 40.7128, -74.0060 ) #Latitude and Longitude of New York City

- Why use a Tuple ?
  - Fixed Size.
  - Immutability.
  - Clarity.

###13. How do sets handle duplicate values in Python?
- Sets in Python handle Duplicate values by automatically Eliminating them. After Creating a Set, any Duplicate value is Ignored and keeps only one instance of Unique Elements.

###14.  How does the “in” keyword work differently for lists and dictionaries?
- For Lists: The in keyword checks for the presence of a value within the list. It uses a linear search algorithm, meaning it goes through each element one by one.
- For Dictionaries: The in keyword checks for the presence of a key in the dictionary.

###15. Can you modify the elements of a tuple? Explain why or why not.
- Making Changes in a Tuple is not possible directly as Tuples are Immutable, but there's a way we can do it which is called as Tuple Packing, and Unpacking.

###16. What is a nested dictionary, and give an example of its use case.
- A Nested Dictionary simply means a Dictionary containing another Dictionary as one of its Values. This allows for organizing complex data structures with multiple layers of information.
- Consider a scenario where you want to store information about Products of a Company, including their Names, and Prices. You can use a nested dictionary to represent this data:

In [2]:
Company_Amul = {
    "Product1" : { "Name" : "IceCream", "Price" : 90.00},
    "Product2" : { "Name" : "Chocolate", "Price" : 80.00},
    "Product3" : { "Name" : "Biscuits", "Price" : 50.00},
    "Product4" : { "Name" : "Coffee", "Price" : 100.00}
}

#Accessing Data: You can easily access specific information, such as the name of the second Product:

print(Company_Amul["Product2"]["Name"])  # Output: Chocolate

Chocolate

###17. Describe the Time Complexity of accessing elements in a Dictionary.
- Accessing elements in a Python dictionary typically has an average time complexity of O(1). This means that retrieving a value using its key is generally very fast and does not depend on the size of the dictionary
- While dictionary lookups are usually very efficient with an average time complexity of O(1), they can become slower in rare cases due to collisions, resulting in O(n) complexity.

###18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries in the following situations:
  - When the order of elements matters.
  - When you need to store multiple occurrences of the same value.
  - When you need to perform operations that require iterating through elements in a specific sequence.
- In Summary, use lists when you need ordered collections with potential duplicates and simple sequential access.

###19. Why are Dictionaries considered Unordered, and how does that affect data retrieval?
- Dictionaries in Python are considered unordered because, they did not maintain any specific order of the key-value pairs. This means that when you iterate over a dictionary or access its items, you cannot rely on them being in the same order as when they were added.

###20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In Lists, Elements are accessed using their numeric indices, meaning that accessing elements depends on their position in the list.
- In Dictionaries, Elements are accessed using their respective Keys, allowing direct retrieval of data independent of their position.

---
#Practical Questions

In [4]:
# 1. Write a code to create a string with your name and print it.
Name="Nithin Sahu"
print(Name)

Nithin Sahu

In [5]:
# 2. Write a code to find the length of the string "Hello World".
string1="Hello World"
len(string1)

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string2="Python Programming"
string2[0:3]

'Pyt'

In [7]:
# 4.  Write a code to convert the string "hello" to uppercase.
string3="hello"
string3.upper()

'HELLO'

In [9]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
string4="I like apple"
print(string4)
string4.replace("apple","orange")

I like apple

'I like orange'

In [10]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [11]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list2=[1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [12]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list3=[1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [14]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list4=['a','b','c','d']
list4[1]

'b'

In [15]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list5=[10,20,30,40,50]
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]

In [16]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1=(100,200,300)
print(tuple1)

(100, 200, 300)

In [17]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2=('red','green','blue','yellow')
tuple2[-2]

'blue'

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple3=(10,20,5,15)
min(tuple3)

5

In [19]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple4=('dog','cat','rabbit')
tuple4.index('cat')

1

In [20]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple4=('apple','banana','kiwi')
'kiwi' in tuple4

True

In [27]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a','b','c'}
print(set1)

{'a', 'c', 'b'}

In [28]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2={1,2,3,4,5}
set2.clear()
print(set2)

set()

In [29]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3={1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [30]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4={1,2,3}
set5={3,4,5}
set4.union(set5)

{1, 2, 3, 4, 5}

In [31]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6={1,2,3}
set7={2,3,4}
set6.intersection(set7)

{2, 3}

In [32]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"Nithin","age":18,"city":"Bangalore"}
print(dict1)

{'name': 'Nithin', 'age': 18, 'city': 'Bangalore'}

In [35]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2={'name': 'John', 'age': 25}
dict2['country']='USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [49]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3={'name': 'Alice', 'age': 30}
dict3['name']

'Alice'

In [51]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [52]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5={'name': 'Alice', 'city': 'Paris'}
'city' in dict5

True

In [53]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=['Nithin','Sahu']
tuple1=('Nithin','Sahu')
dict1={'Name':'Nithin','Surname':'Sahu'}
print(list1)
print(tuple1)
print(dict1)

['Nithin', 'Sahu']
('Nithin', 'Sahu')
{'Name': 'Nithin', 'Surname': 'Sahu'}

In [81]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random as r
list1=[r.randint(1,100) for i in range(5)]
list1.sort()
print(list1)

[19, 29, 36, 89, 92]

In [83]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1=['Nithin', 'Sahu', 'Bangalore', 'BCA', 'AIMS']
list1[2]

'Bangalore'

In [85]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={'Name':'Nithin','Surname':'Sahu'}
dict2={'Course':'BCA','Semester':2}
dict1.update(dict2)
print(dict1)

{'Name': 'Nithin', 'Surname': 'Sahu', 'Course': 'BCA', 'Semester': 2}

In [93]:
# 30. Write a code to convert a list of strings into a set.
list1=['Nithin','Bangalore','BCA','AIMS']
set1=set(list1)
print(set1)

{'AIMS', 'Bangalore', 'Nithin', 'BCA'}